.ipynb_checkpoints
UseCases/extra_notes_HSC_Use_Case_Example6.ipynb
UseCases/screenshots/redsequence_1.png
UseCases/screenshots/redsequence_2.png
UseCases/screenshots/redsequence_3.png
UseCases/screenshots/chart.png
UseCases/screenshots/export.png
UseCases/screenshots/new_column.png
UseCases/screenshots/redsequence_4.png
UseCases/screenshots/redsequence_5.png
UseCases/image_overplot.ipynb
UseCases/ps1image.ipynb
UseCases/t328.3979+17.6867.i.fits
UseCases/t328.3979+17.6867.r.fits
UseCases/Untitled1.ipynb
*.pyc
